In [58]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [59]:
path = 'C:/Users/user/Downloads/Loan Prediction'
loan = pd.read_csv(path + '/train.csv')
test = pd.read_csv(path + '/TEST.csv')

In [60]:
test.isnull().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
dtype: int64

In [61]:
# test.dropna(inplace = True)

In [62]:
loan.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,146,360,1,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128,360,1,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66,360,1,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120,360,1,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141,360,1,Urban,Y

In [63]:
loan.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            614 non-null    object
 1   Gender             614 non-null    object
 2   Married            614 non-null    object
 3   Dependents         614 non-null    int64
 4   Education          614 non-null    object
 5   Self_Employed      614 non-null    object
 6   ApplicantIncome    614 non-null    int64
 7   CoapplicantIncome  614 non-null    float64
 8   LoanAmount         614 non-null    int64
 9   Loan_Amount_Term   614 non-null    int64
 10  Credit_History     614 non-null    int64
 11  Property_Area      614 non-null    object
 12  Loan_Status        614 non-null    object
dtypes: float64(1), int64(5), object(7)
memory usage: 62.5+ KB

In [64]:
loan.isnull().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

In [65]:
loan.dropna(inplace=True)

In [66]:
loan.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,146,360,1,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128,360,1,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66,360,1,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120,360,1,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141,360,1,Urban,Y

In [67]:
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import MinMaxScaler

In [68]:
le = LabelEncoder()
scaler = MinMaxScaler()

In [69]:
loan['Loan_Status'] = le.fit_transform(loan['Loan_Status'])

In [70]:
X_train = loan.drop(['Loan_Status'],axis=1)
y_train = loan['Loan_Status']

In [71]:
X_train

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,LP001002,Male,No,0,Graduate,No,5849,0.0,146,360,1,Urban
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128,360,1,Rural
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66,360,1,Urban
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120,360,1,Urban
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141,360,1,Urban
...,...,...,...,...,...,...,...,...,...,...,...,...
609,LP002978,Female,No,0,Graduate,No,2900,0.0,71,360,1,Rural
610,LP002979,Male,Yes,3,Graduate,No,4106,0.0,40,180,1,Rural
611,LP002983,Male,Yes,1,Graduate,No,8072,240.0,253,360,1,Urban
612,LP002984,Male,Yes,2,Graduate,No,7583,0.0,187,360,1,Urban
613,LP002990,Female,No,0,Graduate,Yes,4583,0.0,133,360,0,Semiurban

In [72]:
print(y_train)

0      1
1      0
2      1
3      1
4      1
      ..
609    1
610    1
611    1
612    1
613    0
Name: Loan_Status, Length: 614, dtype: int32

In [73]:
#LABEL ENCODING
loan['Married'] = le.fit_transform(loan['Married']) 
loan['Gender'] = le.fit_transform(loan['Gender'])
loan['Education']= le.fit_transform(loan['Education'])
loan['Self_Employed'] = le.fit_transform(loan['Self_Employed'] )
loan['Property_Area'] =le.fit_transform(loan['Property_Area'])

In [74]:
def processing_data(loan):

    loan['Married'] = le.fit_transform(loan['Married']) 
    loan['Gender'] = le.fit_transform(loan['Gender'])
    loan['Education']= le.fit_transform(loan['Education'])
    loan['Self_Employed'] = le.fit_transform(loan['Self_Employed'] )
    loan['Property_Area'] =le.fit_transform(loan['Property_Area'])

    loan = loan.drop(['Loan_ID'], axis=1)

    scaler = MinMaxScaler(feature_range=(0, 1))
    # loan = scaler.fit_transform(loan)
    
    return loan

In [75]:
processed_test = processing_data(test)

In [76]:
processed_train = processing_data(X_train)

In [77]:
processed_train.shape

(614, 11)

In [78]:
from sklearn.model_selection import train_test_split

In [79]:
X_train,X_test,y_train,y_test = train_test_split(processed_train,y_train,test_size=0.2,
                                                 stratify = y_train,random_state=42)

In [80]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import cross_val_score
from sklearn.metrics import accuracy_score

In [81]:
rf = RandomForestClassifier(n_estimators=500, max_depth=5)

In [82]:
rf_model = rf.fit(X_train,y_train)

In [83]:
y_pred = rf.predict(X_test)

In [84]:
print('Accuracy of the model:', accuracy_score(y_test,y_pred))

Accuracy of the model: 0.8536585365853658

In [85]:
test.Loan_Status = rf.predict(processed_test)

In [86]:
loan_submission = pd.DataFrame({'Loan_ID':test['Loan_ID'] ,
                               'Loan_Status':test.Loan_Status})

In [87]:
loan_submission.sample(5)

      Loan_ID  Loan_Status
289  LP002593            1
145  LP001797            1
69   LP001361            0
217  LP002192            1
90   LP001475            1

In [88]:
import numpy as np
loan_submission['Loan_Status'] = np.where(loan_submission['Loan_Status']==1, "Y", "N")


loan_submission.to_csv(path +'/loan_submission.csv',index = False)
loan_submission.head()

    Loan_ID Loan_Status
0  LP001015           Y
1  LP001022           Y
2  LP001031           Y
3  LP001035           Y
4  LP001051           Y